.mapid { 
    width: 100%;
    height: 100%; 
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#slide-toggle{
    position: absolute;
    top: 75px;
    left: 12px;
    z-index: 2;
    background-color: #3188b6;
    border-color: #3188b6;
}


h1, h2{
    color: #f1fff1;
}

.row.howto{
    background-color: #3188b6;
    color: whitesmoke;
}

.bi{
    color: #f1fff1;
    height: 100%;
}

.overlay p{
    font-size: 30px;
}

.infobtn{
    height: 35px;
    width: 35px;
}

